:root {
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
}

body {
  background: #0f0c29;
  background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to left, #24243e, #302b63, #0f0c29);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

}

.logo {
  height: 40px;
}

.navMenu {
  height: 0;
  display: none;
  transition: var(--transition);
  align-items: center;

}

.navbtn {
  background: none;
  color: azure;
  font-size: 1em;
  border: 2px solid azure;
  padding: .5em 1em;
  border-radius: 5px;
  cursor: pointer;
}

.navbtn:hover {
  background: azure;
  color: #181818;
  transition: 250ms;
}

.nav-dropdown {
  display: flex;
  flex-direction: column;
}

.nav-dropdown button {
  border:none;
  background: none;
  margin: 1rem 0;
  color: black;

}

.navMenu a {
  color: azure;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);

}

.rightMenu {
  display: none;
}

.rightMenu a {
  font-weight: 600;
  padding: 0 0 0 20px;
  flex-wrap: nowrap;
  font-size: 14px;
}

.nav {
  display: flex;
}

a {
  text-decoration: none;
  color: black;
  letter-spacing: var(--spacing);

}

.navMenu a:hover {
  color: gray;
  transition: ease-in 200ms;

}

.rightMenu a:hover {
  color: gray;
  transition: ease-in 200ms;
}



.nav-menu-open a {
  color: black;
  padding: 10px;
}

.nav-toggle {
  color: azure;
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.dropdown {
  position: fixed;
  top: 12vh;
  left: 0;
  right: 0;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 10;
}

.dropdown a {
  margin: 1rem 0;
  color: black;
}

.dropdown a:hover {
  color: cornflowerblue;
  transition: var(--transition);
}

.nav-toggle:hover {
  color: lightblue;
  transform: rotate(90deg);
}

.link-height {
  height: 10rem;
}





h1 {
  color: azure;
}

footer {
  max-height: 40px;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

p {
  color: azure;
  font-size: 11px;
}

.Container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.content {
  align-items: center;
  padding: 40px;
  max-width: 50%;
}

.content p {
  color: azure;
  font-size: 14px;
}


.loginContainer {
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.loginBox {
  width: 440px;
  height: 600px;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  background: #181818;
  align-items: center;
  justify-content: center;
}


.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  color: azure;
}

input {
  border-radius: 5px;
}

section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  z-index: 1;
}

.register {
  max-width: 400px;
  max-height: 100vh;
  border-radius: 5px;
  width: 100vw;
  display: flex;
  border: 1px solid #e9ecef;
  box-shadow: 1px 3px 10px #e9ecef;
  background-color: azure;
}

.register a {
  color: #003049;
  letter-spacing: normal;
  text-decoration: underline;
}

#form {
  max-width: 320px;
  width: 100vw;
  height: 400px;
  margin: 2em auto;

}
#form>input:focus {
  outline: none;
}

#form>input,
.btn {
  border: 1px solid #e9ecef;
  padding: .9em 1em;
  background-color: azure;
}

#form>.btn {
  background-color: #003049;
  border-radius: 5px;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

#authForm {
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
}

#authForm>input,
.btn {
  border: 1px solid #e9ecef;
  padding: .9em 1em;
  background-color: azure;
}

#authForm>input:focus {
  outline: none;
}

#authForm>.btn {
  background-color: #003049;
  border-radius: 5px;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

.flex {
  display: flex;
  gap: 1em;
}

.flex-col {
  flex-direction: column;
}

.register .col-1 {
  margin: auto;
  padding: 1em 0;
}

#authForm>span {
  font-size: 12px;
  padding: 3px;
  color: gray;
}

#authForm>.error {
  color: red;
}

.alert-wrapper {
  position: fixed;
  top: 4rem;
  right: 2rem;
  display: inline-block;
}

.alert {
  padding: 0.8rem;
  margin: 1rem;
  opacity: 0.9;
  background: #f4f4f4;
  color: #333;
}

.alert.alert-primary {
  background-color: #b88017;
  color: #fff;
}

.alert.alert-dark {
  background-color: #403734;
  color: #fff;
}

.alert.alert-success {
  background-color: #28a745;
  color: #fff;
}

.alert.alert-danger {
  background-color: #dc3545;
  color: #fff;
}



.calendar {
  display: grid;
  position: relative;
  width: 400px;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
}

.calendar__picture {
  position: relative;
  height: 170px;
  padding: 20px;
  color: #fff;
  background: #262626;
  text-shadow: 0 2px 2px black;
  box-sizing: border-box;
}

.calendar__date {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  grid-gap: 10px;
  box-sizing: border-box;
  background: azure;

}

.calendar__day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  font-weight: 600;
  color: #262626;
}

.calendar__number {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  color: #262626;
  border-radius: 2px;

}

.calendar-num {
  color: black;
}

.calendar-month {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.highlight {
  background-color: #181818;
  color: azure;
}

.highlight p {
  color: #e9ecef;
}

i {
  cursor: pointer;
  padding: 20px;
}

i:hover {
  color: gray;
}

.h1-2 {
  color: black;
}

.top {
  display: flex;
  flex-direction: column;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  max-height: 170px;
  min-height: 170px;
  background: #262626;
}

.top  h3 {
  color: azure;
}


.logs {
  display: flex;
  flex-direction: column;
  width: auto;
  min-width: 40vw ;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: auto;
  padding: 20px;
  scrollbar-gutter: stable;
  position: relative;
}

.logs::-webkit-scrollbar {
  width: 10px;
}

.logs::-webkit-scrollbar-track {
  background-color: darkgrey;
}

.logs::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.bottom {
  max-height: 60px;
  min-height: 60px;
  padding-top: 20px;
  margin-bottom: 20px;
  border-top: 2px solid #0f0c29;
}

.btn {
  background-color: #003049;
  border-radius: 5px;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

.btn:hover {
  background: gray;
  transition: 250ms;
}

.workout-item {
  color: black;
  display: flex;
  flex-direction: row;
  margin: 5px;

}

.log-item {
  display: flex;
  flex-direction: column;
}

.col-left{
  display: flex;
  flex-direction: column;
}

.col-right{
  display: none;
}

.workout-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  max-height: 100%;
  justify-content: center;
}

.log-container {
  position: relative;
  height: 95vh;
  width: 50vw;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  background-color: azure;
  justify-content: center;
  margin-right: 100px;
}

#workoutForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

#workoutForm > input {
  border: none;
  padding: 5px;
  background: azure;
  width: 100%;
}

#workoutForm > select {
  border: none;
  padding: 5px;
  width: 50%;
  background: azure;
}

#workoutForm>.btn {
  width: 200px;
}

.workout-btn {

  background: none;
  border: none;
  font-size: 1em;
  cursor: pointer;
  width: 25px;
}

.bottom-btn {
  margin: 0 20px 10px 0;
}

.col-1 i {
  color: #181818;
  height: 50px;
  width: 50px;
}

.exit-button {
  display: flex;
  cursor: pointer;
  justify-content: right;
  margin: 10px 0 10px 0;
}

.right-box {
  display: grid;
  margin-top: 40px;
  position: relative;
  width: 400px;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
}

.in-box {
  position: relative;
  background: azure;
  height: 392px;
}

#workout-comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#workout-comment > input {
  border: 1px solid gray;
  padding: 5px;
  background: azure;
}

#workout-comment > p {
  font-weight: 600;
  font-size: 14px;
  color: black;
}

.workout-log {
  background: azure;
  border-radius: 10px;
}

.saved-set {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.saved-set p {
  color: black;
  font-size: 14px;
  font-weight: 600;
}

.save-btn {
  background: none;
  border: none;
  font-size: 1em;
  cursor: pointer;
  width: 25px;
}

.workout-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.delete-btn {
  background: none;
  border: none;
  font-size: 1em;
  cursor: pointer;
  width: 25px;
}

.delete-btn:hover {
  color: red;
  transition: 250ms;
}

@media (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  header {
    padding: 0;
  }

  .navMenu {
    height: auto;
    display: flex;
    flex: 1;

  }

  .navMenu a {
    padding: 0 5rem;
    margin: 0 0.5rem;
    font-weight: 600;
    flex-wrap: nowrap;
    font-size: 14px;
  }

  .rightMenu {
    display: flex;
  }

  .nav-toggle {
    display: none;
  }

  .nav-menu-open {
    display: none;
  }


  .col-right {
    display: flex;
    flex-direction: column;
    top:0;
    margin-left: 5px;
  }

  .workout-log {
    margin: 0 50px 0 0;
  }

}