:root {
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  line-height: 1.3;
  background: #262626;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  display: block;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/******************************/
/*           NAVBAR           */
/******************************/

.nav {
  background: #262626;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  top: 0;
  z-index: 10;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.navBarContainer {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  padding: 0 24px;
  max-width: 1100px;
}

.logo {
  color: azure;
  justify-self: flex-start;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin-left: 24px;
  font-weight: bold;
}

.mobileIcon {
  display: none;
}

.navMenu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  margin-right: -22px;
}

.navItem {
  height: 80px
}

.navItem a {
  color: azure;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;

}

.navItem:hover {
  border-bottom: 3px solid #ff5047;
  transition: 250ms linear;
}


.navBtn {
  display: flex;
  align-items: center;
}

.navBtn a {
  border-radius: 50px;
  background: #ff5047;
  white-space: nowrap;
  padding: 10px 22px;
  color: azure;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;

}

.navBtn a:hover {
  transition: all 0.2s ease-in-out;
  background: #fff;
  color: #010606;
}

@media screen and (max-width: 768px) {
  .mobileIcon {
    color: azure;
    display: block;
    position: absolute;
    top:0;
    right:0;
    margin: 20px 20px 0 0 ;
    transition: var(--transition);

    font-size: 1.8rem;
    cursor: pointer;
  }

  .mobileIcon:hover {
    transform: rotate(90deg);
  }

  .navMenu {
    display: none;
  }

  .navBtn {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .nav {
    transition: 0.8s all ease;
  }
}

/******************************/
/*          SIDEBAR           */
/******************************/

.sidebarContainer {
  position: fixed;
  z-index: 999;
  width: 50%;
  height: 100%;
  background: #1c1c1c;
  display: grid;
  align-items: center;
  right: 0;
  top: 0;
  transition: 0.3s ease-in-out;
  opacity: 0;
  right: -100%;
}

.sidebarContainer.open {
  opacity: 1;
  right: 0;
}

.icon {
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
  color: azure;
  outline: none;
}

.sidebarWrapper {
  color: #fff;
}

.sidebarMenu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 80px);
  text-align: center;
}

.sidebarMenu a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-decoration: none;
  list-style: none;
  transition: 0.2s ease-in-out;
  color: #fff;
  cursor: pointer;
}

.sidebarMenu a:hover {
  color: #ff5047;
  transition: 0.2s ease-in-out;
}

.sideBtnWrap {
  display: flex;
  justify-content: center;
}

.sideBtnWrap a {
  border-radius: 50px;
  background: #ff5047;
  white-space: nowrap;
  padding: 10px 22px;
  color: #010606;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.sideBtnWrap a:hover {
  transition: all 0.2s ease-in-out;
  background: #fff;
  color: #010606;
}


@media screen and (max-width: 480px) {
  .sidebarMenu {
    grid-template-rows: repeat(6, 60px);
  }
}
h1 {
  color: azure;
}

/******************************/
/*          FOOTER            */
/******************************/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  min-height: 70px;
  padding: 15px;
  text-align: center;
}

p {
  color: azure;
  font-size: 11px;
}

section {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 50px 0 50px 0;
  z-index: 1;
}

main {
  min-height: 100vh;
}
.Container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.content {
  align-items: center;
  padding: 40px;
  max-width: 50%;
}

.content p {
  color: azure;
  font-size: 14px;
}

/******************************/
/*           LOGIN            */
/******************************/

.loginContainer {
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.loginBox {
  width: 440px;
  height: 600px;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  background: #181818;
  align-items: center;
  justify-content: center;
}


.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  color: azure;
}

input {
  border-radius: 5px;
}

/******************************/
/*           SIGN UP          */
/******************************/

.register {
  max-width: 400px;
  max-height: 100vh;
  border-radius: 5px;
  width: 100vw;
  display: flex;
  box-shadow: 1px 3px 10px #1c1c1c;
  background-color: #181818;
}

.register a {
  color: white;
  letter-spacing: normal;
  text-decoration: underline;
}

.col-1 h2 {
  color: white;
}

#form {
  max-width: 320px;
  width: 100vw;
  height: 400px;
  margin: 2em auto;

}
#form>input:focus {
  outline: none;
}

#form>input,
.btn {
  border: 1px solid #e9ecef;
  padding: .9em 1em;
  background-color: azure;
}

#form>.btn {
  background-color: #003049;
  border-radius: 5px;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

#authForm {
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
}

#authForm>input,
.btn {
  border: none;
  padding: .9em 1em;
  background-color: #2f2f2f;
  color: white;
}


#authForm>input:focus {
  outline: none;
  color: white;
  background: #2f2f2f;
}

#authForm>.btn {
  background-color: #ff5047;
  border-radius: 5px;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

.flex {
  display: flex;
  gap: 1em;
}

.flex-col {
  flex-direction: column;
}

.register .col-1 {
  margin: auto;
  padding: 1em 0;
}

#authForm>span {
  font-size: 12px;
  padding: 3px;
  color: gray;
}

#authForm>.error {
  color: red;
}

.alert-wrapper {
  position: fixed;
  top: 4rem;
  right: 2rem;
  display: inline-block;
}

.alert {
  padding: 0.8rem;
  margin: 1rem;
  opacity: 0.9;
  background: #f4f4f4;
  color: #333;
}

.alert.alert-primary {
  background-color: #b88017;
  color: #fff;
}

.alert.alert-dark {
  background-color: #403734;
  color: #fff;
}

.alert.alert-success {
  background-color: #28a745;
  color: #fff;
}

.alert.alert-danger {
  background-color: #dc3545;
  color: #fff;
}



.calendar {
  display: grid;
  position: relative;
  width: 400px;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 1px 3px 10px #1c1c1c;
}

.calendar__picture {
  position: relative;
  height: 170px;
  padding: 20px;
  color: #fff;
  background: #ff5047;
  box-sizing: border-box;
}

.calendar__date {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  grid-gap: 10px;
  box-sizing: border-box;
  background: #1c1c1c;

}

.calendar__day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  font-weight: 600;
  color: #ff5047;
}

.calendar__number {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  color: white;
  border-radius: 2px;

}


.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #ff5047;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.calendar-num {
  color: black;
}

.calendar-month {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.highlight {
  background-color: #ff5047;
  color: white;
  transition: var(--transition);
}

.highlight p {
  color: #e9ecef;
}

i {
  cursor: pointer;
  padding: 20px;
}

i:hover {
  color: gray;
}

.h1-2 {
  color: black;
}

.top {
  display: flex;
  flex-direction: column;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  max-height: 170px;
  min-height: 170px;
  background: #ff5047;
}

.top  h3 {
  color: azure;
}


.logs {
  display: flex;
  flex-direction: column;
  width: auto;
  min-width: 40vw ;
  overflow-y: auto;
  overflow-x: hidden;
  height: 600px;
  padding: 20px;
  scrollbar-gutter: stable;
  position: relative;
}

.logs::-webkit-scrollbar {
  width: 10px;
}

.logs::-webkit-scrollbar-track {
  background-color: darkgrey;
}

.logs::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.bottom {
  max-height: 60px;
  min-height: 60px;
  padding-top: 20px;
  margin-bottom: 20px;
  border-top: 2px solid #0f0c29;
}

.btn {
  background-color: #003049;
  border-radius: 5px;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

.btn:hover {
  background: gray;
  transition: 250ms;
}

.workout-item {
  color: white;
  display: flex;
  flex-direction: row;
  margin: 5px;

}

.log-item {
  display: flex;
  flex-direction: column;
}

.col-left{
  display: flex;
  flex-direction: column;
}





.workout-container {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 1100px;
  margin: 0 20px 0 20px;
}

.workout-container .inner {
  display: grid;
  grid-template-columns: 3fr 2fr;
  justify-content: center;
  gap: 50px;
}




@media screen and (max-width: 450px ) {



  #workout-comment {
  }

  #workout-comment > input {
    max-width: 75px;
    padding: 0;
    margin: 0;
  }

  .saved-set span {
    font-size: 8px;
  }

  .saved-set p {

  }

  .workout-btn {
    position: relative;
    background: none;
    border: none;
    font-size: 1em;
    cursor: pointer;
    color: #ff5047;
  }

}

.log-container {
  position: relative;
  height: 95vh;
  width: 50vw;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  background-color: azure;
  justify-content: center;
  margin-right: 100px;
}

#workoutForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

#workoutForm > input {
  border: none;
  padding: 5px;
  background: #2f2f2f;
  width: 100%;
  color: white;
}

#workoutForm > select {
  border: none;
  border-radius: 50px;
  padding: 5px;
  width: 50%;
  background: #2f2f2f;
  color: white;
}

#workoutForm>.btn {
  border: none;
  width: 200px;
  background: #ff5047;
}

.workout-btn {

  background: none;
  border: none;
  font-size: 1em;
  cursor: pointer;
  width: 50px;
  color: #ff5047;
}

.bottom-btn {
  margin: 0 20px 10px 0;
}

.col-1 i {
  color: #181818;
  height: 50px;
  width: 50px;

}

.exit-button {
  display: flex;
  cursor: pointer;
  justify-content: right;
  color: #ff5047;
  margin: 10px 0 10px 0;
}

.right-box {
  display: grid;
  margin-top: 40px;
  position: relative;
  width: 400px;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 1px 3px 10px #1c1c1c;
}

.in-box {
  position: relative;
  background: #1c1c1c;
  height: 392px;
}

#workout-comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#workout-comment > input {
  border: none;
  background: #2f2f2f;
  color: white;
  padding: 5px;
  margin: 2px;
}

#workout-comment > input:focus {
  background: #2f2f2f;
  color: white;
}

#workout-comment > span > p {
  color: white;
  font-weight: normal;
  padding: 10px;
}

#workout-comment > span {
  display: flex;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.inner .workout-log {
  background: #1c1c1c;
  border-radius: 10px;
  box-shadow: 1px 3px 10px #1c1c1c;
}

.saved-set {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}

.saved-set span {
  display: flex;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.saved-set p {
  color: white;
  font-weight: normal;
  padding: 10px;
}

.save-btn {
  background: none;
  border: none;
  font-size: 1em;
  cursor: pointer;
  width: 25px;
  color: #ff5047;
}

.save-btn:hover {
  color: #28a745;
  transition: var(--transition);
}

.workout-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.delete-btn {
  background: none;
  border: none;
  font-size: 1em;
  cursor: pointer;
  width: 25px;
  color: #ff5047;
}

.delete-btn:hover {
  color: red;
  transition: 250ms;
}

.add-set {
  display: flex;
  flex-direction: row;
}

.add-set p {
  color: white;
}

.add-set-btn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  color: #ff5047;
}

.calendarIcon {
  display: flex;
  flex-direction: column;
  color: azure;
  cursor: pointer;
}

.calendarIcon:hover {
  transition: var(--transition);
  color: #e9ecef;
}

.close-calendar {
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  cursor: pointer;
}

.close-calendar:hover {
  transition: var(--transition);
  color: #e9ecef;
}

.add-set-btn p {
  color: black;
  padding: 5px;
}

@media (min-width: 900px) {

  .close-calendar {
    display: none;
  }

  .calendarIcon {
    display: none;
  }

  .col-right {
    display: flex;
    flex-direction: column;
    top:0;
    margin-left: 5px;
  }
  .workout-right {
    width: max-content;
  }


  .workout-log {
    width: 100%;
  }

}

@media (max-width: 850px) {
  .workout-container {
    display: flex;
  }

  .workout-container .inner {
    display: flex;
    width: 100%;
  }

  .workout-log{
    width: 100%;
  }

  .workout-right{
    display: none;
  }
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  min-height: 100vh;
}