body {
  background: #0f0c29;
  background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to left, #24243e, #302b63, #0f0c29);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  max-height: 90px;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  padding: 0 20px;
  top: 0;
  left: 0;
  right: 0;

}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navMenu {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;

}

.navbtn {
  background: none;
  color: azure;
  font-size: 1em;
  border: 2px solid azure;
  padding: .5em 1em;
  border-radius: 5px;
  cursor: pointer;
}

.navbtn:hover {
  background: azure;
  color: #181818;
  transition: 250ms;
}

.navMenu a {
  padding: 0 80px;
  font-weight: 600;
  flex-wrap: nowrap;
  font-size: 14px;


}


.rightMenu a {
  font-weight: 600;
  padding: 0 0 0 20px;
  flex-wrap: nowrap;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: azure;
  letter-spacing: 1.5px;

}

.navMenu a:hover {
  color: gray;
  transition: ease-in 200ms;

}

.rightMenu a:hover {
  color: gray;
  transition: ease-in 200ms;
}

h1 {
  color: azure;
}

footer {
  min-height: 40px;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: 0;
  left: 0;
}

p {
  color: azure;
  font-size: 11px;
}

.Container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.content {
  align-items: center;
  padding: 40px;
  max-width: 50%;
}

.content p {
  color: azure;
  font-size: 14px;
}


.loginContainer {
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.loginBox {
  width: 440px;
  height: 600px;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  background: #181818;
  align-items: center;
  justify-content: center;
}


.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  color: azure;
}

input {
  border-radius: 5px;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.register {
  max-width: 400px;
  max-height: 100vh;
  border-radius: 5px;
  width: 100vw;
  display: flex;
  border: 1px solid #e9ecef;
  box-shadow: 1px 3px 10px #e9ecef;
  background-color: azure;
}

.register a {
  color: #003049;
  letter-spacing: normal;
  text-decoration: underline;
}

#form {
  max-width: 320px;
  width: 100vw;
  height: 400px;
  margin: 2em auto;

}
#form>input:focus {
  outline: none;
}

#form>input,
.btn {
  border: 1px solid #e9ecef;
  padding: .9em 1em;
  background-color: azure;
}

#form>.btn {
  background-color: #003049;
  border-radius: 5px;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

#authForm {
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
}

#authForm>input,
.btn {
  border: 1px solid #e9ecef;
  padding: .9em 1em;
  background-color: azure;
}

#authForm>input:focus {
  outline: none;
}

#authForm>.btn {
  background-color: #003049;
  border-radius: 5px;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

.flex {
  display: flex;
  gap: 1em;
}

.flex-col {
  flex-direction: column;
}

.register .col-1 {
  margin: auto;
  padding: 1em 0;
}

#authForm>span {
  font-size: 12px;
  padding: 3px;
  color: gray;
}

#authForm>.error {
  color: red;
}

.alert-wrapper {
  position: fixed;
  top: 4rem;
  right: 2rem;
  display: inline-block;
}

.alert {
  padding: 0.8rem;
  margin: 1rem;
  opacity: 0.9;
  background: #f4f4f4;
  color: #333;
}

.alert.alert-primary {
  background-color: #b88017;
  color: #fff;
}

.alert.alert-dark {
  background-color: #403734;
  color: #fff;
}

.alert.alert-success {
  background-color: #28a745;
  color: #fff;
}

.alert.alert-danger {
  background-color: #dc3545;
  color: #fff;
}



.calendar {
  position: relative;
  width: 300px;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
}

.calendar__picture {
  position: relative;
  height: 200px;
  padding: 20px;
  color: #fff;
  background: #262626;
  text-shadow: 0 2px 2px black;
  box-sizing: border-box;
}

.calendar__date {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  grid-gap: 10px;
  box-sizing: border-box;
  background: azure;

}

.calendar__day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  font-weight: 600;
  color: #262626;
}

.calendar__number {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  cursor: pointer;
  color: #262626;

}

.calendar-num {
  color: black;
}


.h1-2 {
  color: black;
  top: 0;
  cursor: pointer;
}

.top {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.logs {
  display: flex;
  flex-direction: column;
  width: auto;
  max-height: 550px;
  overflow: scroll;
  padding: 20px;
  position: relative;
  top: 40px;
}

.bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: 20px;
  padding: 20px;
}

.btn {
  background-color: #003049;
  border-radius: 5px;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

.btn:hover {
  background: azure;
  color: #181818;
  transition: 250ms;
}

.workout-item {
  color: black;
  display: flex;
  flex-direction: row;

}

.log-item {
  display: flex;
  flex-direction: column;
  border-color: black;
  border-style: solid;
  border-width: 3px;
}

.col-left{
  display: flex;
  flex-direction: column;
}

.col-right{
  display: flex;
  flex-direction: column;
  top:0;
  margin-left: 40px;
}

.workout-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  min-height: 100vh;
  justify-content: center;
}

.log-container {
  position: relative;
  height: 95vh;
  width: 50vw;
  border-radius: 10px;
  display: flex;
  background-color: azure;
  justify-content: center;
  margin-right: 100px;
}
